.custom-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease-in-out;
  }
  
  .custom-card:hover .card-img-top {
    filter: brightness(0.7);
  }
  
  .custom-card .card-img-top {
    transition: filter 0.3s ease-in-out;
  }
  